<div deal-view-header></div>
<div>
    <h2>{{CheckoutDeal.Title}}</h2>
    <form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-xs-3" for="inputEmail">Email:</label>
        <div class="col-xs-9">
            <input type="email" class="form-control" id="inputEmail" ng-model="CheckoutDeal.User.Email" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="inputPassword">Password:</label>
        <div class="col-xs-9">
            <input type="password" class="form-control" id="inputPassword" ng-model="CheckoutDeal.User.Password" placeholder="Password">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="confirmPassword">Confirm Password:</label>
        <div class="col-xs-9">
            <input type="password" class="form-control" id="confirmPassword" ng-model="CheckoutDeal.User.ConfirmPassword" placeholder="Confirm Password">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="firstName">First Name:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="firstName" placeholder="First Name" ng-model="CheckoutDeal.User.FirstName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="lastName">Last Name:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="lastName" placeholder="Last Name" ng-model="CheckoutDeal.User.LastName">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="phoneNumber">Phone:</label>
        <div class="col-xs-9">
            <input type="tel" class="form-control" id="phoneNumber" placeholder="Phone Number" ng-model="CheckoutDeal.User.PhoneNumber">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Date of Birth:</label>
        <div class="col-xs-9">
            <input type="datetime" class="form-control" id="dateofbirth" placeholder="Date of birth" ng-model="CheckoutDeal.User.DateofBirth">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="postalAddress">Address:</label>
        <div class="col-xs-9">
            <textarea rows="3" class="form-control" id="postalAddress" placeholder="Postal Address" ng-model="CheckoutDeal.User.Address"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3" for="ZipCode">Zip Code:</label>
        <div class="col-xs-9">
            <input type="text" class="form-control" id="ZipCode" placeholder="Zip Code" ng-model="CheckoutDeal.User.Zipcode">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-3">Gender:</label>
        <div class="col-xs-2">
            <label class="radio-inline">
                <input type="radio" name="genderRadios" value="male" ng-model="CheckoutDeal.User.Gender"> Male
            </label>
        </div>
        <div class="col-xs-2">
            <label class="radio-inline">
                <input type="radio" name="genderRadios" value="female" ng-model="CheckoutDeal.User.Gender"> Female
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
            <label class="checkbox-inline">
                <input type="checkbox" value="news" ng-model="CheckoutDeal.User.LatestNews"> Send me latest news and updates.
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
            <label class="checkbox-inline">
                <input type="checkbox" value="agree" ng-model="CheckoutDeal.User.Terms">  I agree to the <a href="#">Terms and Conditions</a>.
            </label>
        </div>
    </div>
    <br>
    <div class="form-group">
        <div class="col-xs-offset-3 col-xs-9">
            <button class="btn btn-primary" ng-click="Add(CheckoutDeal.User)" value="Submit">Submit</button>
            <button class="btn btn-default" value="Reset">Reset</button>
        </div>
    </div>
</form>
</div>
<div deal-view-footer></div>